.rojito {
    color: #a94747;
  }
  
  .verde {
    color: #1b8c19;
  }
  
  .imagenListado {
    width: 80px;
    height: auto;
  }
  
  .maximoTamanoCreacion {
    width: 350px;
    height: auto;
  }
  
  .maximoTamanoGrande {
    width: 450px;
    height: auto;
  }